	* {
		box-sizing: border-box;
	}
	p {
		margin: 0;
	}
	a {
		text-decoration: none;
	}
	html,
	body {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	@font-face {
		font-family: gotham-exlight;
		src: url(../otf/GothamExLight.otf);
	}
	@font-face {
		font-family: Gotham-Black;
		src: url(../otf/Gotham-Black.otf);
	}
	@font-face {
		font-family: gotham-medium;
		src: url(../otf/Gotham-Medium.otf);
	}
	@keyframes slide {
		0% {
			top: 6px;
			opacity: 1;
		}
		35% {
			top: 12px;
			opacity: 1;
		}
		50% {
			top: 15px;
			opacity: 0;
		}
		50.01% {
			top: 6;
			opacity: 0;
		}
		80% {
			top: 6px;
			opacity: 0;
		}
	}
	#wrap {
		width: 100%;
		height: 100%;
		background: #de5119 url(../img/back.png) no-repeat;
		background-size: cover;
		overflow: hidden;
		transition: 2s;
	}
	.text {
		position: fixed;
		width: 100%;
		left: 35.684%;
		top: 65%;
		color: #fcfaf2;
		font-family: gotham-exlight;
	}
	.text .text1 {
		font-size: 4.84vw;
		opacity: 0;
		margin-right: 1.93%;
	}
	.text .text2 {
		font-size: 4.84vw;
		letter-spacing: 30px;
	}
	.text2 span:nth-of-type(1) {
		display: inline-block;
		opacity: 0;
	}
	.text2 span:nth-of-type(2) {
		display: block;
		margin: -2% 0 0 4.8%;
		opacity: 0;
	}
	.text .text3 {
		display: block;
		width: 31.4%;
		font: bold .8vw "微软雅黑";
		text-align: center;
		letter-spacing: 10px;
		color: #93340e;
		margin-top: -2.3%;
		opacity: 0;
		transform: translateY(20px);
	}
	.text .text4 {
		position: fixed;
		width: 5.3%;
		left: 50%;
		padding-top: 4.8%;
		margin-left: -3%;
		text-align: center;
		font: bold .6vw "微软雅黑";
		letter-spacing: 1px;
		opacity: 0;
	}
	.text4 button {
		display: block;
		position: relative;
		width: 14px;
		height: 24px;
		border: 1px solid #a52a2a;
		border-radius: 15px;
		background: transparent;
		margin: 0 auto;
		margin-bottom: 10%;
		cursor: pointer;
		outline: 0;
	}
	.text4 span:nth-of-type(1) {
		cursor: pointer;
	}
	.text4 button span {
		position: absolute;
		width: 4px;
		height: 4px;
		left: 50%;
		top: 6px;
		border-radius: 50%;
		background: #a52a2a;
		margin: -2px;
		animation: slide 1.8s linear 0s infinite normal none;
	}
	.lion {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.lion span {
		width: 100%;
		height: 100%;
	}
	.lion strong {
		width: 100%;
		height: 100%;
	}
	/*end*/


	/**/

	.text-bg {
		position: absolute;
		left: 0;
		top: 0;
	}
	.text-bg div {
		position: fixed;
		left: 10%;
		top: 40%;
	}
	.text-bg div p {
		width: 100%;
		position: relative;
		overflow: hidden;
		/*will-change: width;*/
	}
	.text-bg p span:nth-of-type(1) {
		display: inline-block;
		font: 12.5vw gotham-black;
		letter-spacing: .2em;
		line-height: 100%;
		overflow: hidden;
		white-space: nowrap;
		color: rgba(254, 255, 255, 0.11);
		opacity: 0;
		transition: 3s;
	}
	.text-bg p span:nth-of-type(2) {
		position: absolute;
		left: 0;
		right: 0;
		top: 15%;
		bottom: 10%;
		background: skyblue;
		opacity: 0;
	}
	.prj-text p:after {
		content: "";
		background: #f6c709;
		position: absolute;
		left: 28px;
		top: 22px;
		width: 193px;
		height: 1px;
	}
	.prj .prj0 {
		position: fixed;
		left: 15%;
		top: 50%;
	}
	.prj-text p {
		padding-left: 30px;
		padding-bottom: 10px;
		font: 12px "gotham-medium";
		letter-spacing: .2em;
		color: #f6c709;
		opacity: 0;
		transition: 2s;
	}
	.btn {
		margin: 35px 0 0 25px;
		overflow: hidden;
	}
	.prj .btn a {
		color: #fff;
	}
	.btn .see:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		transform: translateY(100%);
		transition: .2s;
		z-index: -1;
	}
	.btn .change:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		transform: translateY(0);
		transition: .2s;
		z-index: -1;
	}
	.btn span {
		display: inline-block;
		position: relative;
		border: 1px solid;
		border-color: rgba(255, 176, 202, 0.3);
		letter-spacing: .1em;
		font: 11px "gotham-medium";
		padding: 11px 42px;
		/*will-change: color;*/
		opacity: 0;
		transition: 2s;
	}
	.box {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.box span {
		position: absolute;
		width: 100%;
		height: 100%;
		transition: 3s;
	}
/* end */


	#wrap {
		/*background: #a90806;*/
	}
	.s1 {
		-webkit-clip-path: polygon(71.25% 2.066% , 77.239% 2.066% , 71.25% -8.23%);
		background: #690f0e;
	}
	.s2 {
		-webkit-clip-path: polygon(71.25% 2.066% , 66.979% 2.066% , 71.25% -8.23%);
		background: #7c1315;
	}
	.s3 {
		-webkit-clip-path: polygon(71.25% -8.23% , 66.979% 2.066% , 65.454% -8.23%);
		background: #8f191c;
	}
	.s4 {
		-webkit-clip-path: polygon(66.979% 2.066% , 62.5% 3.395% , 66.254% -5.23%);
		background: #670e12;
	}
	.s5 {
		-webkit-clip-path: polygon(62.083% -5.23% , 62.5% 3.395% , 66.254% -5.23%);
		background: #7c1315;
	}
	.s6 {
		-webkit-clip-path: polygon(62.083% -11.23% , 62.5% 3.395% , 58.125% 1.557%);
		background: #801517;
	}
	.s7 {
		-webkit-clip-path: polygon(57.187% 0% , 58.95% 0% , 58.125% 1.557%);
		background: #901a1c;
	}
	.s8 {
		-webkit-clip-path: polygon(46.145% 1.557% , 52.604% -11.23% , 58.125% 1.557%);
		background: #a51e22;
	}
	.s9 {
		-webkit-clip-path: polygon(46.145% 1.557% , 45.833% 0% , 46.822% 0%);
		background: #901a1c;
	}
	.s10 {
		-webkit-clip-path: polygon(46.145% 1.557% , 52.083% 15.329% , 58.125% 1.557%);
		background: #b21f24;
	}
	.s11 {
		-webkit-clip-path: polygon(46.145% 1.557% , 52.083% 15.329% , 43.802% 18.004%);
		background: #ba2025;
	}
	.s12 {
		-webkit-clip-path: polygon(52.083% 15.329% , 58.125% 1.557% , 58.541% 19.547%);
		background: #a71e22;
	}
	.s13 {
		-webkit-clip-path: polygon(58.125% 1.557% , 58.541% 19.547% , 62.595% 3.397%);
		background: #991c1f;
	}
	.s14 {
		-webkit-clip-path: polygon(58.541% 19.547% , 62.595% 3.397% , 66.197% 19.547%);
		background: #8f191c;
	}
	.s15 {
		-webkit-clip-path: polygon(62.595% 3.397% , 66.197% 19.547% , 66.927% 2.06%);
		background: #801517;
	}
	.s17 {
		-webkit-clip-path: polygon(66.197% 19.547% , 66.927% 2.06% , 71.77% 15.534%);
		background: #8f191c;
	}
	.s18 {
		-webkit-clip-path: polygon(66.927% 2.06% , 71.77% 15.534% , 77.239% 2.069%);
		background: #731012;
	}
	.s19 {
		-webkit-clip-path: polygon(71.77% 15.534% , 77.239% 2.069% , 82.604% 26.543%);
		background: #670e12;
	}
	.s20 {
		-webkit-clip-path: polygon(77.239% 2.069% , 82.604% 26.543% , 85.104% 12.345%);
		background: #60070e;
	}
	.s21 {
		-webkit-clip-path: polygon(71.77% 15.534% , 82.604% 26.543% , 75.729% 33.333%);
		background: #7c1315;
	}
	.s22 {
		-webkit-clip-path: polygon(71.77% 15.534% , 75.729% 33.333% , 66.145% 19.567%);
		background: #8c181b;
	}
	.s23 {
		-webkit-clip-path: polygon(75.729% 33.333% , 66.145% 19.567% , 63.125% 29.012%);
		background: #861719;
	}
	.s24 {
		-webkit-clip-path: polygon(66.145% 19.567% , 63.125% 29.012% , 58.545% 19.558%);
		background: #a51e22;
	}
	.s25 {
		-webkit-clip-path: polygon(63.125% 29.012% , 58.545% 19.558% , 52.708% 33.539%);
		background: #c92027;
	}
	.s26 {
		-webkit-clip-path: polygon(58.545% 19.558% , 52.708% 33.539% , 52.083% 15.226%);
		background: #c22026;
	}
	.s27 {
		-webkit-clip-path: polygon(52.708% 33.539% , 52.083% 15.226% , 43.802% 18.106%);
		background: #e33d3e;
	}
	.s28 {
		-webkit-clip-path: polygon(52.708% 33.539% , 43.802% 18.106% , 44.583% 35.699%);
		background: #db312d;
	}
	.s29 {
		-webkit-clip-path: polygon(43.802% 18.106% , 44.583% 35.699% , 41.77% 31.584%);
		background: #c82127;
	}
	.s30 {
		-webkit-clip-path: polygon(52.708% 33.539% , 44.583% 35.699% , 51.25% 40.843%);
		background: #d22d29;
	}
	.s31 {
		-webkit-clip-path: polygon(52.708% 33.539% , 51.25% 40.843% , 59.166% 43.004%);
		background: #eb707a;
	}
	.s32 {
		-webkit-clip-path: polygon(52.708% 33.539% , 59.166% 43.004% , 63.125% 29.015%);
		background: #b42024;
	}
	.s33 {
		-webkit-clip-path: polygon(59.166% 43.004% , 63.125% 29.015% , 66.197% 43.106%);
		background: #be2026;
	}
	.s34 {
		-webkit-clip-path: polygon(63.125% 29.015% , 66.197% 43.106% , 75.781% 33.333%);
		background: #941a1d;
	}
	.s35 {
		-webkit-clip-path: polygon(66.197% 43.106% , 75.781% 33.333% , 81.822% 47.633%);
		background: #a81e22;
	}
	.s36 {
		-webkit-clip-path: polygon(75.781% 33.333% , 81.822% 47.633% , 82.604% 26.508%);
		background: #791214;
	}
	.s37 {
		-webkit-clip-path: polygon(81.822% 47.633% , 82.604% 26.508% , 89.895% 45.576%);
		background: #781214;
	}
	.s38 {
		-webkit-clip-path: polygon(81.822% 47.633% , 89.895% 45.576% , 81.354% 60.39%);
		background: #181818;
	}
	.s39 {
		-webkit-clip-path: polygon(89.895% 45.576% , 81.354% 60.39% , 90.937% 55.555%);
		background: #1e1e1e;
	}
	.s40 {
		-webkit-clip-path: polygon(81.822% 47.633% , 81.354% 60.39% , 70.364% 67.078%);
		background: #010101;
	}
	.s41 {
		-webkit-clip-path: polygon(81.822% 47.633% , 70.364% 67.078% , 69.791% 50.411%);
		background: #181818;
	}
	.s42 {
		-webkit-clip-path: polygon(81.822% 47.633% , 69.791% 50.411% , 66.25% 43.106%);
		background: #c02326;
	}
	.s43 {
		-webkit-clip-path: polygon(69.791% 50.411% , 66.25% 43.106% , 64.432% 49.074%);
		background: #030303;
	}
	.s44 {
		-webkit-clip-path: polygon(69.791% 50.311% , 64.432% 48.974% , 67.5% 59.979%);
		background: #010101;
	}
	.s45 {
		-webkit-clip-path: polygon(69.791% 50.311% , 67.5% 59.979% , 70.382% 67.078%);
		background: #030303;
	}
	.s46 {
		-webkit-clip-path: polygon(67.5% 59.979% , 70.382% 67.078% , 66.875% 77.366%);
		background: #121212;
	}
	.s47 {
		-webkit-clip-path: polygon(67.5% 59.979% , 66.875% 77.366% , 62.916% 67.386%);
		background: #181818;
	}
	.s48 {
		-webkit-clip-path: polygon(66.875% 77.366% , 62.916% 67.386% , 58.958% 77.777%);
		background: #1c1c1c;
	}
	.s49 {
		-webkit-clip-path: polygon(62.916% 67.386% , 58.958% 77.777% , 58.333% 60.185%);
		background: #1e1e1e;
	}
	.s50 {
		-webkit-clip-path: polygon(62.916% 67.386% , 58.333% 60.185% , 67.5% 60.082%);
		background: #2e2e2e;
	}
	.s51 {
		-webkit-clip-path: polygon(59.218% 43.106% , 66.25% 43.106% , 63.164% 53.492%);
		background: #010101;
	}
	.s52 {
		-webkit-clip-path: polygon(59.218% 43.106% , 63.164% 53.492% , 55.989% 50.308%);
		background: #232323;
	}
	.s53 {
		-webkit-clip-path: polygon(63.164% 53.492% , 55.989% 50.308% , 58.381% 60.182%);
		background: #232323;
	}
	.s54 {
		-webkit-clip-path: polygon(58.391% 60.182% , 63.184% 53.492% , 67.6% 60.079%);
		background: #232323;
	}
	.s55 {
		-webkit-clip-path: polygon(62.984% 53.222% , 67.6% 60.079% , 64.422% 49.074%);
		background: #afafaf;
	}
	.s56 {
		-webkit-clip-path: polygon(62.984% 53.222% , 67.6% 60.079% , 64.895% 60.079%);
		background: #9b9b9b;
	}
	.s57 {
		-webkit-clip-path: polygon(67.6% 60.079% , 64.895% 60.079% , 62.916% 67.386%);
		background: #afafaf;
	}
	.s58 {
		-webkit-clip-path: polygon(67.6% 60.079% , 62.916% 67.386% , 64.322% 71.193%);
		background: #9b9b9b;
	}
	.s59 {
		-webkit-clip-path: polygon(62.916% 67.386% , 64.322% 71.193% , 61.458% 71.193%);
		background: #868686;
	}
	.s60 {
		-webkit-clip-path: polygon(62.916% 67.386% , 61.458% 71.193% , 58.333% 60.185%);
		background: #9b9b9b;
	}
	.s61 {
		-webkit-clip-path: polygon(62.916% 67.386% , 58.333% 60.185% , 60.833% 59.979%);
		background: #afafaf;
	}
	.s62 {
		-webkit-clip-path: polygon(58.333% 60.185% , 60.833% 59.979% , 62.964% 53.292%);
		background: #9b9b9b;
	}
	.s63 {
		-webkit-clip-path: polygon(58.333% 60.185% , 62.964% 53.292% , 61.458% 49.074%);
		background: #afafaf;
	}
	.s64 {
		-webkit-clip-path: polygon(62.964% 53.292% , 61.458% 49.074% , 64.47% 49.074%);
		background: #868686;
	}
	.s65 {
		-webkit-clip-path: polygon(59.166% 43.004% , 51.25% 40.843% , 56.041% 50.308%);
		background: #e94b50;
	}
	.s66 {
		-webkit-clip-path: polygon(51.25% 40.843% , 56.041% 50.308% , 43.75% 46.913%);
		background: #bf2126;
	}
	.s67 {
		-webkit-clip-path: polygon(43.75% 46.913% , 51.25% 40.843% , 44.531% 35.702%);
		background: #ba2026;
	}
	.s68 {
		-webkit-clip-path: polygon(56.041% 50.308% , 43.75% 46.913% , 54.531% 67.078%);
		background: #1c1c1c;
	}
	.s69 {
		-webkit-clip-path: polygon(56.041% 50.308% , 54.531% 67.078% , 58.381% 59.982%);
		background: #1e1e1e;
	}
	.s70 {
		-webkit-clip-path: polygon(43.75% 46.913% , 54.531% 67.078% , 42.656% 59.67%);
		background: #010101;
	}
	.s71 {
		-webkit-clip-path: polygon(42.656% 59.67% , 54.531% 67.078% , 58.958% 77.674%);
		background: #c02326;
	}
	.s72 {
		-webkit-clip-path: polygon(54.531% 67.078% , 58.958% 77.674% , 58.321% 60.085%);
		background: #010101;
	}
	.s73 {
		-webkit-clip-path: polygon(42.656% 59.67% , 58.958% 77.674% , 48.281% 81.79%);
		background: #a81e22;
	}
	.s74 {
		-webkit-clip-path: polygon(42.656% 59.67% , 48.281% 81.79% , 39.895% 74.074%);
		background: #be2026;
	}
	.s75 {
		-webkit-clip-path: polygon(58.958% 77.674% , 48.281% 81.79% , 64.947% 83.641%);
		background: #680e17;
	}
	.s76 {
		-webkit-clip-path: polygon(58.958% 77.674% , 64.947% 83.641% , 66.875% 77.414%);
		background: #751113;
	}
	.s77 {
		-webkit-clip-path: polygon(66.875% 77.414% , 64.947% 83.641% , 78.645% 75.308%);
		background: #791214;
	}
	.s78 {
		-webkit-clip-path: polygon(66.875% 77.414% , 78.645% 75.308% , 81.354% 60.493%);
		background: #c7393a;
	}
	.s79 {
		-webkit-clip-path: polygon(66.875% 77.414% , 81.354% 60.493% , 70.312% 67.078%);
		background: #bf2026;
	}
	.s80 {
		-webkit-clip-path: polygon(78.645% 75.308% , 81.354% 60.493% , 90.989% 55.658%);
		background: #d86067;
	}
	.s81 {
		-webkit-clip-path: polygon(64.947% 83.641% , 78.645% 75.308% , 78.645% 82.201%);
		background: #610c0e;
	}
	.s82 {
		-webkit-clip-path: polygon(78.645% 75.308% , 78.645% 82.201% , 89.687% 77.674%);
		background: #67110d;
	}
	.s83 {
		-webkit-clip-path: polygon(78.645% 75.308% , 89.687% 77.674% , 85.416% 64.403%);
		background: #7c1315;
	}
	.s84 {
		-webkit-clip-path: polygon(48.281% 81.79% , 39.895% 74.074% , 47.5% 99.671%);
		background: #010101;
	}
	.s85 {
		-webkit-clip-path: polygon(48.281% 81.79% , 47.5% 99.671% , 65% 83.539%);
		background: #181818;
	}
	.s87 {
		-webkit-clip-path: polygon(47.5% 99.671% , 65% 83.539% , 81.041% 100%);
		background: #1e1e1e;
	}
	.s88 {
		-webkit-clip-path: polygon(65% 83.539% , 81.041% 100% , 78.645% 82.201%);
		background: #181818;
	}
	.s89 {
		-webkit-clip-path: polygon(36.197% 75.205% , 37.552% 94.238% , 44.25% 101%);
		background: #181818;
	}
	.s90 {
		-webkit-clip-path: polygon(91.875% 79.218% , 81.927% 89.609% , 87.783% 106%);
		background: #010101;
	}
	.s91 {
		-webkit-clip-path: polygon(43.125% 53.086% , 43.125% 54.526% , 52.604% 57.604%);
		background: #afafaf;
	}
	.s92 {
		-webkit-clip-path: polygon(52.604% 57.921% , 52.118% 57.321% , 45.52% 55.405%);
		background: #afafaf;
	}
	.s93 {
		-webkit-clip-path: polygon(90.416% 50.102% , 90.516% 51.234% , 74.479% 56.584%);
		background: #afafaf;
	}
	.s94 {
		-webkit-clip-path: polygon(71.479% 58.021% , 71.8% 57.536% , 81.041% 54.423%);
		background: #afafaf;
	}
	/*.s95 {
		-webkit-clip-path: polygon(69.01% 23.662% , 78.697% 50.617% , 81.979% 33.744%);
		background: #282a3f;
	}
	.s96 {
		-webkit-clip-path: polygon(67.291% 39.917% , 68.489% 33.539% , 79.062% 41.769%);
		background: #f4ba81;
	}
	.s97 {
		-webkit-clip-path: polygon(67.291% 39.917% , 77.916% 48.148% , 79.062% 41.769%);
		background: #f4ba81;
	}
	.s98 {
		-webkit-clip-path: polygon(69.895% 26.44% , 68.697% 32.613% , 80.52% 34.465%);
		background: #d1de4f;
	}
	.s99 {
		-webkit-clip-path: polygon(79.27% 40.946% , 68.697% 32.613% , 80.52% 34.465%);
		background: #d1de4f;
	}
	.s100 {
		-webkit-clip-path: polygon(81.927% 33.95% , 82.027% 34.721% , 78.762% 50.205%);
		background: #242535;
	}
	.s101 {
		-webkit-clip-path: polygon(78.897% 50.914% , 82.027% 34.721% , 78.662% 50.505%);
		background: #242535;
	}
	.s101 {
		-webkit-clip-path: polygon(67.552% 17.592% , 69.01% 23.662% , 84.583% 30.144%);
		background: #373851;
	}
	.s102 {
		-webkit-clip-path: polygon(81.979% 33.741% , 69.01% 23.662% , 84.583% 30.144%);
		background: #373851;
	}
	.s103 {
		-webkit-clip-path: polygon(67.812% 16.666% , 67.552% 17.589% , 84.583% 30.141%);
		background: #282a3f;
	}
	.s104 {
		-webkit-clip-path: polygon(67.812% 16.666% , 85.056% 29.526% , 84.583% 30.141%);
		background: #282a3f;
	}
	.s105 {
		-webkit-clip-path: polygon(84.855% 30.455% , 81.979% 33.741% , 85.056% 29.526%);
		background: #282a3f;
	}*/
